* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 400px 1fr 400px;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'title title title'
                        'firstScore main secondScore'
                        'firstScore main secondScore' 
                        'firstScore main secondScore';
    column-gap: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --outline-color: #62686e;
    background-color: #f2faff;

}

body, html {
    height: 100%;
}

.title {
    grid-area: title;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0;
    padding-bottom: 1em;
    border-bottom: 1px solid #bbb;
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5em;

}

.main.active {
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
}

.scores {
    font-size: 1.5rem;
    text-align: center;
    display: none;
    border: 1px solid black;
    align-self: start;
    padding-bottom: 1em;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 1em;
    color: #f6f6f6;
}

.scores.shown {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.first-score {
    grid-area: firstScore;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    box-shadow: 2px 4px 10px rgb(120, 120, 120, 0.5);
    background-color: green;
}

.second-score {
    grid-area: secondScore;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    box-shadow: -2px 4px 10px rgb(120, 120, 120, 0.5);
    background-color: darkred;
}

.game-info {
    text-align: center;
    font-weight: bold;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: var(--outline-color);
}

p {
    margin: 0;
}

.player-info {
    font-style: italic;
}

.game-info > p.hidden {
    display: none;
}

.symbol {
    font-size: 2em;
    display: block;
    margin-top: 0.3em;;
    opacity: 0.8;
}

.symbol.red {
    color: red;
}

.symbol.blue {
    color: blue;
}

.current-turn.green {
    color: green;
}

.current-turn.red {
    color: red;
}

.result {
    font-size: 2rem;
    color: #e2e3e4;
    padding: 0.5em 1em;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgb(120, 120, 120, 0.5);
}

.result.win {
    background-color: #306c30;
}

.result.loss {
    background-color: #6b3030;
}

.result.tie {
    background-color: #30306b;
}

#board {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 500px;
    height: 500px;
}

#board.hidden {
    display: none;
}

#board > .row {
    display: flex;
    width: 100%;
    height: 100%;
}

.row + .row {
    position: relative;
}

.row + .row::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 10px;
    top: -10px;
    border-radius: 10px;
    background-color: var(--outline-color);
}

.row .cell {
    flex: 1;
    font-size: 5rem;
    text-align: center;
}

.row .cell + .cell {
    position: relative;
}

.row .cell + .cell::before {
    position: absolute;
    content: "";
    height: 100%;
    left: -10px;
    background: var(--outline-color);
    width: 10px;
}

.row:first-child .cell + .cell::before {
    border-radius: 10px 10px 0 0;
}
.row:last-child .cell + .cell::before {
    border-radius: 0 0 10px 10px;
}
.cell.active.blue {
    background: url(assets/o.png);
    background-position: 75% 60%;
    background-repeat: no-repeat;
}

.cell.cell.active.red {
    background: url(assets/x.png);
    background-position: 55% 60%;
    background-repeat: no-repeat;
}

#name-inputs {
    font-size: 2rem;
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 2.5em;
}

#name-inputs.hidden {
    display: none;
}

.name-field {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.name-field > label {
    font-weight: bold;
    text-align: center;
}

.name-field > input[type="text"]
{
    font: inherit;
    font-size: 1.5rem;
    border-radius: 40px;
    border: 2px solid #aaa;
    padding: 0.4em 20px;
}

.name-field > input[type="text"]:focus {
    outline: 2px solid black;
}

button.start-reset {
    font: inherit;
    font-size: 1.8rem;
    color: #e2e3e4;
    border: none;
    margin-bottom: 2em;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    padding: 0.3em 0.6em;
    transition: background-color 100ms;
}

button.start-reset.start:active {
    box-shadow: inset 0 0 10px rgb(120, 120, 120, 0.5), 0 0.1em 0 darkgreen;
}

button.start-reset:active {
    transform: scale(0.98);
    transform: translateY(0.1em);
}

button.start-reset.start {
    box-shadow: 0 0.2em 0 darkgreen;
    background-color: green;
    font-size: 3rem;
}

button.start-reset.start:hover {
    background-color: #005a00;
}

button.start-reset.reset {
    box-shadow: 0 0.2em 0 #061252;
    background-color: #0f2edc;
    margin: auto;
}

button.start-reset.reset:hover {
    background-color: #0b23a5;
}

button.start-reset.reset:active {
    box-shadow: inset 0 0 10px rgb(120, 120, 120, 0.5), 0 0.1em 0 #061252;
}